/* adjustment_and_layout */
body, html {
	width: 100%;
	height: 100%;
}

body {
    font-size: 16px;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    background: $white-bg;
    
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    position: relative;
    min-width: $container-width + 20;
}

.wrapper::after{
    content: "";
    display: block;
    height: $footer-height;
    overflow: hidden;
}

.maincontent {
    padding-bottom: 50px;
}

.container {
    width: $container-width;
    margin: 0 auto;
}

li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

.footer {
    height: $footer-height;
    width: 100%;
    margin-top: -$footer-height;
    min-width: $container-width + 20;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-weight: normal;
}
/* END adjustment_and_layout */
