    .content {
    .container {
        @extend %clearfix;
    }
}

.sidebar {
    width: 220px;
    float: left;
}

.page-content {
    width: 700px;
    float: right;
}

.nav__link {
    font-family: 'FontAwesome';
    font-size: 18px;
    display: block;
    padding: 10px 24px 10px 0;
    line-height: 24px;
    text-align: right;
    text-decoration: none;
    border-right: 6px solid transparent;
    color: $heders-footer;
    &:hover {
        border-color: $blue-btn;
        color: $blue-btn;
    }
}

.nav__link-text {
    @include fira();
    font-size: 18px;
    display: inline-block;
    @include inlineblock(middle);
    padding-left: 15px;
}

.nav__link_user-secret:before {
    content: "\f21b";
}

.nav__link_rocket:before {
    content: "\f135";
}

.nav__link_briefcase:before {
    content: "\f0b1";
}
.nav__link_pensil:before {
    content: "\f040";
}

.nav__link_book:before {
  content: "\f02d";
}


.about {
    @extend %clearfix;
}

.about__left {
    width: 290px;
    float: left;
}

.about__right {
    width: 404px;
    float: right;
}

.about__pic {
    overflow: hidden;
    border-radius: 50%;
    border: 6px solid #fff;
    display: inline-block;
    width: 220px;
    height: 220px;
}

.about__pic-img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.title {
    @include fira(medium);
    font-size: 35px;
    color: $heders-footer;
    margin-bottom: 20px;
}

.about__desc {
    margin-bottom: 50px;
    max-height: 500px;
    overflow: hidden;
    p {
        @include fira(light);
        margin-right: 4px;
        font-size: 18px;
        color: $col-p;
        margin-top: 0;
        margin-bottom: 5px;
        text-indent: 20px;
    }
    h2 {}
    h3 {}
}

.about__btns {
    text-align: right;
}

.btn {
    @include fira(bold);
    font-size: 14px;
    line-height: 36px;
    color: $red-dnl;
    display: inline-block;
    border: 2px solid $red-dnl;
    border-radius: 18px;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

.btn__icon {
    font-family: 'FontAwesome';
    @include inlineblock(middle);
    padding-right: 16px;
}

.btn__icon_download:before {
    content: "\f019";
}

.btn__text {
    @include inlineblock(middle);
}

.btn_white {
    @include fira(bold);
    font-size: 14px;
    line-height: 36px;
    color: #fff;
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 18px;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

.btn_white .btn__text {
    @include inlineblock(middle);
}

.career {
    @extend %clearfix;
}

.career__left {
    width: 220px;
    float: left;
}

.career__right {
    width: 460px;
    float: right;
}

.career__pic {
    overflow: hidden;
    border-radius: 9px;
    display: inline-block;
    width: 220px;
    height: 220px;
}

.career__pic-img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.career__list {
    @include fira(light);
    font-size: 18px;
    &:first-child {
        .career__block {
            &:before {
                display: none;
            }
        }
    }
    &:last-child {
        .career__block {
            &::after {
                display: none;
            }
        }
    }
}

.career__item {
    text-align: right;
    margin-bottom: 20px;
    margin-right: 4px;
    &:hover {
        .career__block {
            background-color: $blue-btn;
            color: #fff;
        }
        .career__year {
            @include fira(bold);
            font-size: 18px;
            color: $blue-btn;
            &:after {
                border: 5px solid #94e0f2;
                right: -21px;
                margin-top: -10px;
            }
        }
    }
}

.career__block {
    width: 350px;
    border-radius: 9px;
    box-shadow: 0 1px 3px 0 rgba(#000, .2);
    background-color: #fff;
    display: inline-block;
    position: relative;
    text-align: left;
    padding: 14px 0 14px 21px;
    &:before,
    &:after {
        content: "";
        display: block;
        width: 1px;
        background: #dddddd;
        position: absolute;
        left: -25px;
    }
    &:before {
        top: 0;
        bottom: 50%;
        margin-bottom: 10px;
    }
    &:after {
        bottom: -22px;
        top: 50%;
        margin-top: 10px;
    }
}

.career__title {
    @include fira();
    font-size: 21px;
}

.career__year {
    @include fira();
    font-size: 14px;
    color: #727272;
    position: absolute;
    right: 100%;
    top: 50%;
    line-height: 30px;
    margin-top: -15px;
    margin-right: 35px;
    &:after {
        content: "";
        width: 10px;
        height: 10px;
        background: $blue-btn;
        border-radius: 50%;
        position: absolute;
        right: -16px;
        top: 50%;
        margin-top: -5px;
        z-index: 1;
    }
}

.career__sert {
    padding-top: 20px;
}

.career__header {
    @include fira();
    font-size: 18px;
    margin-bottom: 5px;
    padding-left: 10px;
}

.career__sert-item-a {
    font-family: 'FontAwesome';
    font-size: 18px;
    display: inline-block;
    padding: 10px 0px 10px 10px;
    line-height: 24px;
    text-align: left;
    text-decoration: none;
    color: $heders-footer;
    &:hover {
        color: $blue-btn;
    }
}

.career__sert-item-a_school {
    font-size: 14px;
    display: inline-block;
    padding: 0;
    line-height: 16px;
    text-align: none;
    text-decoration: underline;
    color: $heders-footer;
    &:hover {
        color: $blue-btn;
    }   
}






.career__sert-item-text {
    //background: $blue-btn;
    @include fira();
    font-size: 16px;
    padding: 5px;
}

.career__sert-item-text_school {
    //background: $blue-btn;
    @include fira();
    font-size: 12px;
    padding: 0px;
}

.career__sert-item-a_sert:before {
    content: "\f0a3";
    font-family: 'FontAwesome';
}



.portfolio {
    font-size: 0;
}

.portfolio__item {
    @include inlineblock(middle);
    margin-bottom: 16px;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 10px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}

.portfolio__item:nth-child(3n) {
    margin-right: 4px;
}

.portfolio__item-img {
    border-radius: 10px 10px 0 0;
    max-height: 100%;
    max-width: 100%;
}

.portfolio__item-desc-title {
    font-size: 21px;
    @include fira();
    color: $blue-btn;
    padding: 17px 0 0 19px;
}

.portfolio__item-desc-desc {
    @include fira(light);
    font-size: 14px;
    padding: 0px 0 10px 19px;
    color: $heders-footer;
}

.portfolio__item-desc-app {
    @include fira(bold);
    font-size: 14px;
    padding: 0px 0 10px 19px;
    color: #aeaeae;
    @include inlineblock(middle);
    &:before {
        font-family: 'FontAwesome';
        content: "\f108";
        @include inlineblock(middle);
        margin-right: 5px;
    }
}

.portfolio__item-desc-div-icon,
.portfolio__item-desc-div-text {
    @include inlineblock(middle);
     color: #aeaeae;
}

.title-portfolio-year {
    @include fira();
    font-size: 21px;
    color: $heders-footer;
    margin-bottom: 5px;
}

.wrapper_auth {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    &:before {
        content: "";
        display: inline-block;
        height: 100%;
        width: 0;
        vertical-align: middle;
    }

}

.auth {
    display: inline-block;
    width: 300px;
    height: 302px;
    vertical-align: middle;
}

.auth__photo {
    width: 300px;
    height: 140px;
    position: absolute;
    z-index: 5000;
}

.auth__photo-img {
    height: 140px;
    width: 140px;
    background-image: url('/img/content/user__auth.jpg');
    border-radius: 50%;
    border: 1px solid #bebebe;
    margin: 0 auto;
}

.auth__desc {
    width: 300px;
    height: 232px;
    background-color: #fff;
    margin-top: 302-232px;
    border-radius: 12px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
}

.auth__desc-name {
    padding-top: 90px;
    padding-bottom: 35px;
}

.auth__desc-name-text {
    width: 140px;
    height: 44px;
    @include fira(bold);
    font-size: 21px;
    color: $heders-footer;
}

.auth__desc-btn {
    background: $blue-btn;
    width: 300px;
    height: 78px;
    border-radius: 0 0 12px 12px;
}

.auth__desc-btn-div {
    padding-top: 20px;
}


.blog-item {
    background: #e9e8e8;
    border-radius: 10px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    //width: 700px;
    margin-bottom: 20px;
}

.blog-item__title {
    padding-top: 10px;
    padding-left: 20px;
    margin-bottom: 0;
    font-size: 21px;
    @include fira();
}

.blog-item__content {
    padding-left: 20px;
    margin-bottom: 5px;
    font-size: 18px;
    @include fira(light);
    overflow: hidden;
    p {
        margin-top: 0;
        margin-bottom: 5px;
        text-indent: 20px; 
    }
}

.blog-item__time {
    font-family: 'FontAwesome';
    padding-left: 20px;
    font-size: 14px;
    padding-bottom: 5px;

}

.blog-item__timeline {
    @include fira();
    @include inlineblock(middle);
}



.blog-item__time_clock-o:before {
    content: "\f017";
    color: $blue-btn;
    @include inlineblock(middle);
    margin-right: 3px;
}

.blog-item__title-a {
    text-decoration: none;
    color: inherit;
    &:hover {
        color: $blue-btn;
        text-decoration: underline;
    }
}


 .blog-item_details {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0;
}

.blog-item__content_details {
    padding-left: 20px;
    margin-bottom: 0;
    font-size: 18px;
    @include fira(light);
    height: auto;
    overflow: visible;
}    

.blog-item__snippets {
    margin: 10px 0;
    //height: 200px;
    width: 658px;
    font-size: 14px;
}

.blog-item__title_details {
    padding-bottom: 5px;
    padding-top: 0;
}

.scale {
    height: 350px;
    width: 350px;
    float: left;
    margin-right: 20px;
    @include fira(light);
    font-size: 14px;    
}

.scale_ruler {
    width: 340px;
    height: 20px;
    margin-top: 10px;
    margin-left: 5px;
    position: relative;
    margin-bottom: 5px;
}
.scale_ruler-line {
    height: 5px;
    background: $blue-btn;
    &:before {
        content: "";
        display: block;
        height: 15px;
        width: 5px;
        background: $blue-btn;
        position: absolute;
        left: 0;
        top: 5px;       
    }
    &:after {
        content: "";
        display: block;
        height: 15px;
        width: 5px;
        background: $blue-btn;
        position: absolute;
        right: 0;
        top: 5px;  
    }
}

.scale_ruler-lefttext {
    position: absolute;
    top: 5px;
    left: 5px;
    color: $heders-footer;
    margin-left: 5px;
}

.scale_ruler-righttext {
    position: absolute;
    top: 5px;
    right: 5px;
    color: $heders-footer;
    margin-right: 5px;
}



.scale__item {
    background: $blue-btn;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.scale__item-text {
    @include fira();
    font-size: 14px;
    padding-left: 5px;
}


.scale__header {
    margin: 0 5px 0 5px;
    @include fira(bold);
    font-size: 16px;  
}

.skills__text {
    p {
        @include fira(light);
        font-size: 18px;
        color: $col-p;
        margin-top: 0;
        margin-bottom: 5px;
        text-indent: 20px;  
    }
}